<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <app-side-navbar></app-side-navbar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div
        style="
          position: absolute;
          inset: 0px;
          overflow: hidden;
          pointer-events: none;
          visibility: hidden;
          z-index: -1;
        "
        class="chartjs-size-monitor"
      >
        <div
          class="chartjs-size-monitor-expand"
          style="
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
          "
        >
          <div
            style="
              position: absolute;
              width: 1000000px;
              height: 1000000px;
              left: 0;
              top: 0;
            "
          ></div>
        </div>
        <div
          class="chartjs-size-monitor-shrink"
          style="
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
          "
        >
          <div
            style="
              position: absolute;
              width: 200%;
              height: 200%;
              left: 0;
              top: 0;
            "
          ></div>
        </div>
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Covid Tracker</h1>
        <div class="h3" ngClass="['cases','activecase']">
          <h5>Active</h5>
          {{ Active }}
        </div>
        <div class="h3" ngClass="['cases','confirmed']">
          <h5>Confimed</h5>
          {{ Confirmed }}
        </div>
        <div class="h3" ngClass="['cases','deaths']">
          <h5>Deaths</h5>
          {{ Deaths }}
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">

          <button
            type="button"
            class="btn btn-sm btn-outline-secondary dropdown-toggle"
          >

          </button>
        </div>
      </div>
      <!-- <router-outlet></router-outlet> -->
      <app-my-line-chart></app-my-line-chart>
      <h2>State-wise Statistics</h2>
      <app-state-table></app-state-table>
    </main>
  </div>
</div>
