<ng-http-loader></ng-http-loader>
<div class="container">

  <div class="row" [ngClass]="'topnav'">
    <h3 class="text text-center">Covid Dashboard</h3>
  </div>
  <hr>
  <div class="row justify-content-center align-items-center">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">

    <form [formGroup]="userForm" (ngSubmit)="onLogin()" [ngClass]="(isLoginMode)?'visible':'hide'">

      <div class="form-group" >
        <label for="email">Email ID</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          required
          minlength=4
        />
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">{{ isLoginMode ? 'Login': 'Sign Up'}}</button> |
    <button type="button" class="btn btn-primary" (click)="onSwitchMode()"> Switch to {{ isLoginMode ? 'Sign Up': 'Login'}}</button>
    </form>

  </div>
  <div>

  </div>
  <div class="row justify-content-center align-items-center">
    <form [formGroup]="regForm" (ngSubmit)="onSignUp()" [ngClass]="(isLoginMode)?'hide':'visible'">
      <div class="form-group" >
        <label for="first">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first"
          formControlName="first"

          required
        />
      </div>
      <div class="form-group">
        <label for="last">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last"
          formControlName="last"
          required
        />
      </div>
      <div class="form-group" >
        <label for="email">Email ID</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          required
        />
      </div>
      <!-- <button type="submit" class="btn btn-primary">Register</button> -->
      <button type="submit" class="btn btn-success" [disabled]="!regForm.valid">{{ isLoginMode ? 'Login': 'Sign Up'}}</button> |
    <button type="button" class="btn btn-primary" (click)="onSwitchMode()"> Switch to {{ isLoginMode ? 'Sign Up': 'Login'}}</button>
    </form>
  </div>
</div>
